.card-user {
    padding: 40px;
    margin: 30px;
    width: 300px;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}